/*{
rgba(62, 39, 35, 0.8)
#D7CCC8
rgba(76, 175, 80, 0.66)
#F0F4C3

}
*/
body {
  background-color: #F0F4C3;
  background-image: url('./wood.jpg');
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: white
}
.flexContainer{
  display: flex;
  flex-flow: wrap;
}
.header{
  display: inline-flex;
  flex: 100%;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 1em;
}

.headerText{
  display: inline-flex;
  align-content: center;
  margin-left: 2em;
  margin-right: auto;
  font-size: 2em
}
.headerText a {
  color: white;
  text-decoration: none
}

.navbar {
  display: inline-flex;
  margin-right: 10%;
  align-items: center;
}
.map {
  display: flex;
  margin: 2em;
  margin-left: 5%;
  border-color: rgba(62, 39, 35, 0.9);
  border-style: solid;
  border-width: 2em;
  height: 40vh
}
button {
  background-color: rgba(62, 39, 35, 0.9);
  padding: 1.5em;
  margin: 1em;
  border: none;
  color: white
}
.listOfFarms{
  display: flex;
  flex-direction: column;
  background-color: rgba(62, 39, 35, 0.9);
  padding: 1em;
  margin: 2em;
  margin-left: auto;
  width: 40%;
  margin-right: 5%;
  align-items: center;
  text-align: center;
}
.eachFarm img{
  width: 100%
}

.homeContainer{
  display: flex;
  width: 100%
