/*{
rgba(62, 39, 35, 0.8)
#D7CCC8
rgba(76, 175, 80, 0.66)
#F0F4C3

}
*/
a {
  text-decoration: none;
  color: white
}
body {
  background-color: #F0F4C3;
  background-image: url('./wood.jpg');
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: white
}
button {
  background-color: rgba(62, 39, 35, 0.9);
  padding: 1.5rem;
  margin: 1rem;
  border: none;
  color: white
}
.flexContainer{
  display: flex;
  flex-flow: wrap;
}
.header{
  display: inline-flex;
  flex: 100%;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 1rem;
}

.headerText{
  display: inline-flex;
  align-content: center;
  margin-left: 2rem;
  margin-right: auto;
  font-size: 2rem
}
.headerText a {
  color: white;
  text-decoration: none
}

.navbar {
  display: inline-flex;
  margin-right: 10%;
  align-items: center;
}

.homeContainer{
  display: flex;
  width: 100%
}
.homepageMap {
  display: flex;
  margin: 2rem;
  margin-left: 5%;
  border-color: rgba(62, 39, 35, 0.9);
  border-style: solid;
  border-width: 2rem;
  height: 40vh
}
.featuredFarms{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2rem;
  margin-left: auto;
  margin-right: 5%;
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;
  background-color: rgba(62, 39, 35, 0.9);
}
.featuredFarmsHeaderText{
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(76, 175, 80, 0.66)
}
.eachFeaturedFarm img{
  max-width: 20vw;
  max-height: 30vh;
}
.currentFarm{
  margin: auto;
  background-color: rgba(62, 39, 35, 0.9);
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em
}
.currentFarmContent{
  display: flex;
  justify-content: space-around;
}
.currentFarmContent img{
  max-width: 40vw;
  max-height: 30vh;
  margin: 1em
}
.currentFarmHeaderText{
  font-size: 3rem;
  padding: 1rem
}
.currentFarmDescription{
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  text-align: right;
}
.currentFarmMap{
  display: flex;
  justify-content: center;
  margin: 2rem
}
