/*{
#5B3E2C
#AD8369
#69891E
#E2DCBE
}
*/
body {
  background-color: #E2DCBE;
  font-family: 'Raleway', sans-serif;
  margin: 0
}
.flexContainer{
  display: flex;
  flex-flow: wrap;
}
.header{
  display: inline-flex;
  flex: 100%;
  background-color: #AD8369;
  padding: 1em;
}

.headerText{
  display: inline-flex;
  align-content: center;
  margin-left: 2em;
  margin-right: auto;
  font-size: 2em
}

.navbar {
  display: inline-flex;
  margin-right: 10%;
  align-items: center;
}
.map {
  display: flex;
  margin: 2em;
  margin-left: 5%;
  background-color: blue;
}
button {
  background-color: #69891E;
  padding: 1.5em;
  margin: 1em;
  border: none;
  color: white;
}
.listOfFarms{
  display: flex;
  flex-direction: column;
  background-color: #69891E;
  padding: 1em;
  margin: 2em;
  margin-left: auto;
  width: 40%;
  margin-right: 5%;
  align-items: center;
  text-align: center;
}
.eachFarm img{
  width: 100%
}

.homeContainer{
  display: flex;
  width: 100%
